<div>
    <h3>Clientes <button ng-click="initNewCliente()" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#newCliente">+ Cliente</button></h3>
    <hr>
    <div class="input-group">
        <span class="input-group-addon">Pesquisar</span>
        <input ng-model="search.value" class="form-control"/>
    </div>
    <hr>    
    <div class="list-group" bindonce ng-repeat="cliente in Clientes">
        <button ng-click="editCliente(cliente)" style="float:left;margin-right:10px; width: 80%;text-align:left" bo-href="cliente.links.vendas" class="list-group-item" data-toggle="modal" data-target="#editCliente">
            <div bo-text="cliente.nome | capitalLetter"></div>
        </button>
        <a ng-href="#/clientes/{{cliente.id}}/vendas" class="btn btn-success" title="Vendas" style="margin-top: 4px">
            <span class="glyphicon glyphicon-tag"></span>
        </a>
        <button ng-click="removeCliente(cliente.id)" class="btn btn-danger" style="margin-top: 4px">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>


    <!-- Modal Edit Cliente -->
    <div class="modal fade" id="editCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Alterar Cliente</h4>
                </div><form name="editClienteForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </span>
                                        <input class="form-control" placeholder="Nome" type="text" ng-model="selectCliente.nome" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button ng-disabled="!editClienteForm.$valid" data-ng-click="saveEdit();" type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal New Cliente -->
    <div class="modal fade" id="newCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Novo Cliente</h4>
                </div>
                <form name="newClienteForm">
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </span>
                                        <input class="form-control" placeholder="Nome" type="text" ng-model="newCliente.nome" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button ng-disabled="!newClienteForm.$valid" type="button" class="btn btn-primary" ng-click="addCliente()" data-dismiss="modal">Adicionar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
