<div>
    <h3>Vendas</h3>
    <hr>
    <div bindonce ng-repeat="cliente in Clientes">
        <div style="padding:15px;;background-color: #eee;border-radius: 4px;">
            <h4>{{cliente.nome | capitalLetter}}
                <button data-ng-click="initNewVenda(cliente.id);" class="btn btn-success btn-xs" data-toggle="modal" data-target="#newVenda">+ Venda</button>
            </h4>
            <span style="float:right; margin-top: -4%;" class="badge">Total {{getValorTotalVendas(cliente.id) | currency}}</span>

        </div>
        <!-- Modal New Venda -->
        <div class="modal fade" id="newVenda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Nova Venda</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </span>
                            <input class="form-control" placeholder="Nome" type="text" ng-model="newVenda.nome" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="addVenda()" data-dismiss="modal">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!existeVendas(cliente.id)" class="well well-lg">
            Ainda não á vendas por aqui
        </div>
        <div ng-if="existeVendas(cliente.id)" ng-repeat="venda in Vendas | filterVenda: cliente.id">
            <a class="list-group-item" ng-click="isCollapsed = !isCollapsed">
                <span class="badge">{{getValorTotalVenda(venda) | currency}}</span>
                {{venda.nome}}
            </a>
            <div collapse="isCollapsed">
                <div ng-if="existeItens(venda.id)" class="well">
                    <strong>Produtos:</strong>
                    <table class="table table-striped">
                        <thead></thead>
                        <tbody>
                            <tr ng-repeat="item in Itens | filterItemVenda: venda.id">
                                <td>{{item.produto}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="!existeItens(venda.id)" class="well well-lg">
                    Ainda não á produtos por aqui
                </div>
            </div>
        </div>
        <hr>        
    </div>

</div>
